data-in/xsd/IngestProcessData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 (x64) (http://www.altova.com) by Vlax (scope solutions ag) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 3 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:scope="http://www.scope.ch" xmlns="http://www.scope.ch" targetNamespace="http://www.scope.ch" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">
	<xs:simpleType name="AT_25">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CH-000027-1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DAT1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DS-5"/>
			<xs:enumeration value="DS-7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DataElement">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataElementId" type="xs:int"/>
				<xs:element name="DataElementTypeId" type="xs:int"/>
				<xs:element name="DataElementName" type="xs:string"/>
				<xs:element name="DataElementXmlCode" type="xs:string"/>
				<xs:element name="IsRepeatable" type="xs:boolean"/>
				<xs:element name="ValueSequenceNumber" type="xs:int"/>
				<xs:element name="Value" type="xs:string"/>
				<xs:element name="ValueEx" type="xs:string" minOccurs="0"/>
				<xs:element ref="DataElements" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataElements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataElement" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ToDate" type="xs:date"/>
	<xs:element name="Title">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReferenceCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ident_quality">
		<xs:complexType/>
	</xs:element>
	<xs:element name="FromDate" type="xs:date"/>
	<xs:element name="DescriptionLevel">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Dates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FromDate"/>
				<xs:element ref="ToDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Uri" type="xs:anyURI"/>
	<xs:element name="UoD_ID" type="xs:int"/>
	<xs:element name="Status">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Size" type="xs:int"/>
	<xs:element name="PrimaryDataCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="File" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="File">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RelativeUri" type="xs:string"/>
				<xs:element name="IdentificationInfo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Uri"/>
							<xs:element ref="FilePath"/>
							<xs:element ref="Name"/>
							<xs:element ref="Method"/>
							<xs:element ref="Status"/>
							<xs:element ref="Ident_Quality" minOccurs="0"/>
							<xs:element ref="Size"/>
							<xs:element ref="MD5_Hash"/>
							<xs:element ref="PUID"/>
							<xs:element ref="Mime_Type"/>
							<xs:element ref="Format_Name"/>
							<xs:element ref="Format_Version"/>
							<xs:element ref="Encrypted"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Converter" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Name"/>
							<xs:element name="Version"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CoversionDateTime" type="xs:dateTime" minOccurs="0"/>
				<xs:element ref="File" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PUID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Mime_Type">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Method">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Signature"/>
				<xs:enumeration value="Container"/>
				<xs:enumeration value="Extension"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MD5_Hash" type="xs:string"/>
	<xs:element name="InsertPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReferenceCode"/>
				<xs:element ref="Title"/>
				<xs:element ref="Dates" minOccurs="0"/>
				<xs:element ref="DescriptionLevel"/>
				<xs:element ref="Forms" minOccurs="0"/>
				<xs:element ref="UseData" minOccurs="0"/>
				<xs:element ref="DataElements" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="UoD_ID" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IngestSettings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Archive_ISIL_Code"/>
				<xs:element ref="InsertPoint"/>
				<xs:element name="User">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UserName" type="xs:string"/>
							<xs:element name="UserType" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AdditionalInfoFormData" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AdditionalInfoDataValue" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Name" use="required"/>
											<xs:attribute name="Xml_Code"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IngestProcessData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IngestSettings"/>
				<xs:element ref="SIPCollection" minOccurs="0"/>
				<xs:element ref="AIPCollection" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ident_Quality" type="xs:string"/>
	<xs:element name="Format_Version" type="xs:string"/>
	<xs:element name="Format_Name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FilePath" type="xs:string"/>
	<xs:element name="Encrypted" type="xs:boolean"/>
	<xs:element name="Archive_ISIL_Code">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="value"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AIPCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AIP" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AIP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PID"/>
				<xs:element ref="PrimaryDataCollection" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="UoDid" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIPCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SIP" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PID"/>
				<xs:element ref="PrimaryDataCollection" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="UoDid" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UseData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccessibilityId" type="xs:int" minOccurs="0"/>
				<xs:element name="BaseDateId" type="xs:int" minOccurs="0"/>
				<xs:element name="CannotBeEarlier" type="xs:boolean" minOccurs="0"/>
				<xs:element name="EditingStatusId" type="xs:int" minOccurs="0"/>
				<xs:element name="FurtherInstructions" type="xs:string" minOccurs="0"/>
				<xs:element name="ManuallyChanged" type="xs:boolean" minOccurs="0"/>
				<xs:element name="PermissionId" type="xs:int" minOccurs="0"/>
				<xs:element name="PhysicalUsabilityId" type="xs:int" minOccurs="0"/>
				<xs:element name="ProtectionDuration" type="xs:int" minOccurs="0"/>
				<xs:element name="ProtectionNotes" type="xs:string" minOccurs="0"/>
				<xs:element name="ReleasedForQueries" type="xs:boolean" minOccurs="0"/>
				<xs:element name="TermOfProtectionId" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FormsType">
		<xs:sequence>
			<xs:element ref="EditingForm"/>
			<xs:element ref="DisplayForm"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EditingForm" type="xs:string"/>
	<xs:element name="DisplayForm" type="xs:string"/>
	<xs:element name="Forms" type="scope:FormsType"/>
</xs:schema>
